{% extends 'base/master.html' %}
{% block 'title' %} Add Owner !!! {% endblock %}
{% block 'body' %}
<div class="card" style="height:500;width:200;">
    <div>
         {% if message %}
        <ul class="message">
            {% for k in message %}
            <li style="color:red;">{{ k }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <!-- Default form register -->
    <form class="text-center border border-light p-5" method="POST" action="{% url 'add_owner' %}">
         {% csrf_token %}
        <input type="text" name="ownername" placeholder="Enter the name" class="form-control">
        <input type="text" name="bikenumber" placeholder="Enter bike no" class="form-control">
        <input type="number" name="licencenumber" placeholder="Enter licence no" class="form-control">
        <input type="text" name="bloodgroup" placeholder="Enter the blood group" class="form-control">
        <input type="date" name="lasttaxpaid" placeholder="Enter the date" class="form-control">

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Add</button>
        <hr>
    </form>
  </div>
<!-- Default form register -->
{% endblock %}