{% extends 'base/master.html'%}
{% block 'title' %} Home page !!! {% endblock %}
{% block 'body' %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
         <a href="{% url 'form' %}"><button class="btn btn-outline-success my-2 my-sm-0" >Add Owner</button></a>

    </nav>
<!-- message printing -->
    <div>
         {% if messages %}
        <ul class="message">
            {% for k in messages %}
            <li style="color:red;">{{ k }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


    {% endblock %}